* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: auto;
  background: #222;
  border: solid 10px #222;
  .viewPort {
    margin: auto;
    width: 1200px;
    height: 800px;
    border: solid 10px rgb(182, 102, 236);
    overflow: hidden;
    .slide {
      display: flex;
      width: 1200px;
      height: 800px;
      margin: auto;
      img {
        background-size: cover;
        background-position: center;
        width: 1200px;
        height: 800px;
      }
    }
  }
}
