* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: auto;
  background: #222;
  border: solid 10px #222;
  position: relative;
  #prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 60px;
    color: rgba(248, 252, 252, 0.5);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
  }
  #nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 60px;
    color: rgba(248, 252, 252, 0.5);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
  }
  .viewPort {
    margin: auto;
    width: 1200px;
    height: 800px;
    border: solid 10px rgb(182, 102, 236);
    overflow: hidden;
    .slide {
      display: flex;
      width: 1200px;
      height: 800px;
      margin: auto;
      img {
        background-size: cover;
        background-position: center;
        width: 1200px;
        height: 800px;
      }
    }
  }
}
